#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC  &kp F  &kp W  &kp B      &kp V       &kp ENTER
                &kp TAB  &kp A  &kp S  &kp T      &kp E       &kp SEMI
                &none    &kp U  &kp L  &kp D      &kp C       &none
                &none    &none  &none  &sk LGUI   &sk LSHIFT  &sl 1

                &none    &kp K  &kp Y  &kp Z      &kp X      &kp SPACE
                &kp Q    &kp N  &kp I  &kp R      &kp O      &kp BACKSPACE
                &none    &kp H  &kp M  &kp G      &kp P      &none
                &none    &none  &none  &sl 2      &sk LALT   &sk LCTRL
            >;
        };

        layer_1 {
            bindings = <
                &kp PERCENT  &kp N1     &kp N2     &kp N3         &kp N4  &kp N5
                &kp PIPE     &kp STAR   &kp PLUS   &kp SLASH      &kp GT  &kp DQT
                &kp HASH     &kp TILDE  &kp MINUS  &kp KP_DIVIDE  &kp LT  &kp SQT
                &none        &none      &none      &trans         &trans  &trans


                &kp N6       &kp N7               &kp N8                &kp N9                    &kp N0               &none
                &kp AMPS     &kp_shift LEFT HOME  &kp_shift UP PAGE_UP  &kp_shift DOWN PAGE_DOWN  &kp_shift RIGHT END  &kp DEL
                &kp CARET    &kp DOT              &kp COMMA             &kp EQUAL                 &none                &none
                &none        &none                &none                 &trans                    &trans               &trans
            >;
        };

        layer_2 {
            bindings = <
                &kp F1    &kp F2     &kp F3  &kp F4  &kp F5  &kp F6
                &kp DE_A  &kp DE_SS  &none   &none   &none   &none
                &kp DE_U  &kp UNDER  &none   &none   &none   &GRAVE
                &none     &none      &none   &trans  &trans  &trans


               &kp F7     &kp F8             &kp F9           &kp F10   &kp F11   &kp F12
               &kp QMARK  &kp LEFT_BRACKET   &kp LEFT_BRACE   &kp LPAR  &kp DE_O  &none
               &none      &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp RPAR  &none     &none
               &none      &none              &none            &trans    &trans    &trans
            >;
        };
    };
};
