{
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        col-gpios = <&gpio0 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>, <&gpio 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>, <&gpio 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>, <&gpio 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>, <&gpio 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>, <&gpio 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        row-gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>, <&gpio0 11 GPIO_ACTIVE_HIGH>, <&gpio0 12 GPIO_ACTIVE_HIGH>, <&gpio0 13 GPIO_ACTIVE_HIGH>;
    };
};
